<footer class="mx-auto md:w-[1024px] sm:w-[640px] md:mt-32 sm:mt-4 w-full py-10 text-center">
    <hr class="border-neutral-700" />
    <p class="mt-5">© 2024 JRodrigo | Developed with Astro & TailwindCSS</p>
</footer>