<header class="flex justify-center items-center pt-5 font-semibold">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <!-- <a href="#experience">Experiencia</a> -->
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>