---
import SocialPill from '../components/SocialPill.astro';
import ProjectIcon from '../components/icons/Project.astro';
import MailIcon from '../components/icons/Mail.astro';
import LinkedinIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import PeruFlagIcon from '../components/icons/Peru.astro';
import LocalPerfilImage from '../assets/perfil.jpeg';
---

<div id="container">
	<main class="mx-auto my-28 lg:w-[1024px]">
		<div class="flex flex-row gap-x-4 items-center justify-between">
			<div class="flex-initial">
				<p class="text-7xl font-bold mb-5">Rodrigo Centeno</p>
				<p class="font-bold text-3xl">
					<span class="text-red-300/90">Desarrollador Web </span>
					y 
					<span class="text-orange-300/80">Diseñador UX/UI</span>
				</p>
				<p class="text-xl mb-12 mt-10 text-gray-300">
					<PeruFlagIcon class="mb-1" />
					<span class="font-semibold text-yellow-200/90">Técnico en Diseño y Desarrollo de Software</span>, 
					con experiencia en desarrollo de aplicaciones web funcionales, robustas, y atractivas por su diseño único.
				</p>
				<ul class="flex gap-x-2 mt-8">
					<SocialPill href="https://www.linkedin.com/in/jaime-rodrigo-huacac-centeno-459a2b29b/">
						<LinkedinIcon class="size-6" />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/JRodrigoHC19">
						<GitHubIcon class="size-6" />
						GitHub
					</SocialPill>
					<SocialPill href="mailto:jaime.huacac.centeno@gmail.com" target="_blank">
						<MailIcon class="size-6" />
						Contáctame
					</SocialPill>
				</ul>
			</div>

			<div class="flex-none">
				<img src="https://static.vecteezy.com/system/resources/previews/020/329/376/non_2x/cat-head-kitten-symbol-gaming-cat-logo-elegant-element-for-brand-abstract-icon-symbols-vector.jpg" alt="JRodrigo" class="rounded-full size-96 mb-4">
				<!-- <img src={LocalPerfilImage.src} alt="JRodrigo" class="rounded-full size-96 mb-4"> -->
			</div>
		</div>

		<div class="mx-auto my-20">
			<div class="flex flex-row gap-x-1 items-center">
				<ProjectIcon class="size-12 -ms-2" />
				<p class="text-4xl font-semibold">Proyectos</p>
			</div>
			<p class="p-0 ms-14 mt-5 text-sm text-gray-600/80 dark:text-white/80">Proximanente...</p>
		</div>

	</main>
</div>

<style>

</style>
